form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    padding: 20px 10px;
    background-color: darkgoldenrod;
    box-shadow: 1px 3px 3px 3px rgb(41, 40, 40);
}
input {
    margin: 10px 5px;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
}
input:focus {
    background-color: rgb(202, 169, 157);
}
button {
    width: 80px;
    margin: 10px 5px;
    height: 30px;
    background-color: darkseagreen;
    cursor:pointer;
}